<%= form_for @question, :html => { :class => "form-horizontal question" } do |f| %>

    <% if @question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :body, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:body]) %>
  </div>


  <%= f.submit "Speichern", :class => 'btn btn-primary' %>
  <%= link_to "Abbrechen",
            questions_path, :class => 'btn btn-default' %>

<% end %>
